{% load static %}
<html lang="pl">
  <head>
    <title>Paweł Stawikowski - portfolio</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-700 min-h-screen m-0 text-slate-300 flex flex-col justify-between">
    <div class="main">
      {% block content %}{% endblock %}

    </div>

    <footer class="bg-neutral-800 p-6 text-center">
      <span>Created by Paweł Stawikowski with <a class="text-blue-500" href="https://github.com/Pawikoski/portfolio">Portfolio</a></span>
    </footer>


  </body>
</html>
