{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>{{ personal_data.full_name }} - portfolio</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-700 min-h-screen m-0 text-slate-300 flex flex-col justify-between">
    <div class="main">
      <!-- Header -->
      <nav class="navbar px-16 py-2 bg-neutral-800 h-60 flex flex-row items-center justify-between">

        <div class="absolute right-0 top-0 pr-3 pt-2">
          <form action="{% url 'select_language' %}" method="post">
            {% csrf_token %}
            <div class="flex flex-row justify-end space-x-3">

                {% for lang in site_languages %}
                  <button name="lang" value="{{ lang.code }}"><img src="{% static lang.url %}" width="20px" /></button>
                {% endfor %}
            </div>
          </form>
        </div>

        <div class="personal flex flex-col ml-5 space-y-2">
          <h1 class="text-4xl font-bold">{{ personal_data.full_name }}</h1>
          <span>{{ personal_data.level_and_proffesion }}</span>
          <div class="flex flex-row links space-x-3">
            {% for social in socials %}
            <a title="{{ social.name }}" target="_blank" href="{{ social.url }}" class="item rounded-full bg-gray-500 p-2 text-xl hover:bg-gray-400 text-gray-100 hover:text-gray-50">{{ social.icon|safe }}</a>
            {% endfor %}
          </div>
        </div>
        <div class="contact">
          <div>{{ contact.mail }}</div>
          <div>{{ contact.telegram }}</div>
          <div>{{ contact.skype }}</div>         
        </div>
      </nav>
      
      <div class="container md flex flex-col space-x-0 my-1 lg:flex-row mx-auto justify-between lg:space-x-7 lg:my-5">
        
      <!-- Main -->
      {% block content %}{% endblock %}

      <!-- Sidebar -->
      <div class="sidebar w-full lg:w-1/4 ">
        <div class="info box">
          <p class="text-xl pb-1 font-bold tracking-wide font-sans">{{ translations.personal_info }}</p>
          <p class="font-semibold">{{ personal_data.location }}</p>
          <p class="text-blue-400"><a href="mailto:{{ personal_data.email }}">{{ personal_data.email }}</a></p>
          <p class="text-blue-400"><a href="{{ personal_data.cv }}">{{ translations.download_cv }}</a></p>
          <p class="text-blue-400"><a href="{{ personal_data.contact_form }}">{{ translations.contact_form }}</a></p>
        </div>
        <div class="skills box">
          <p class="text-xl pb-1 font-bold tracking-wide font-sans">{{ translations.skills }}</p>
          {% for skill in skills %}
          <div class="skill my-3">
            <div class="flex flex-row justify-between">
              <span>{{ skill.technology }}</span>
              <span>level TODO:</span>
            </div>
            <div class="progress-bar bg-slate-700 w-full h-3">
              <div class="progress-green w-{{ skill.level }}/12 bg-green-500 h-full"></div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="education box">
          <p class="text-xl pb-1 font-bold tracking-wide font-sans">{{ translations.education }}</p>
          {% for obj in education %}
          <div class="py-1">
            <p class="text-lg font-semibold">{{ obj.degree }}</p>
            <p class="text-blue-400 font-semibold"><a href="{{ obj.website }}">{{ obj.name }}</a></p>
            <p>{{ obj.start_date|date:"Y" }} - {% if obj.still_learning %}now{% else %}{{ obj.graduate_date|date:"Y" }}{% endif %}</p>
          </div>
          {% endfor %}
        </div>
        <div class="languages box">
          <p class="text-xl pb-1 font-bold tracking-wide font-sans">{{ translations.languages }}</p>
          {% for language in languages %}
          <div class="flex justify-between space-y-3 items-baseline">
            <p>{{ language.name }}</p>
            <p class=" text-yellow-300">{% for _ in language.full_stars %}<i class="fa-solid fa-star"></i>{% endfor %}{% for _ in language.blank_stars %}<i class="fa-regular fa-star"></i>{% endfor %}</p>
          </div>
          {% endfor %}
        </div>
        <div class="currently-learn box">
          <p class="text-xl pb-1 font-bold tracking-wide font-sans">{{ translations.currently_studying }}</p>
          <ul class="list-disc pl-4">
            {% for item in currently_studying %}
            <li>{{ item.name }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="credits box">
          <p class="text-xl pb-1 font-bold tracking-wide font-sans">{{ translations.credits }}</p>
          {% for credit in credits %}
          <p><a href="{{ credit.url }}">{{ credit.name }}</a></p>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>

  <footer class="bg-neutral-800 p-6 text-center">
    <span>Created by Paweł Stawikowski with <a class="text-blue-500" href="https://github.com/Pawikoski/portfolio">Portfolio</a></span>
  </footer>

  </body>
</html>
